<%= render "shared/header" %>
<div class="container">
<h5 class="screen-name">投稿作品の編集</h5>
<div class="contents">

<%= form_with model: @work, local: true do |f| %>

<div class="row">
  <div class="col s12 m6 l6 xl6">
    <%= f.label :images, '作品画像（必須）' %><br>
    <div class="file-field input-field">
      <div class="btn">
        <span>画像選択</span>
        <%= f.file_field :images, name: 'work[images][]', multiple: :true %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="複数枚指定できます">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m4 l2 xl2">
  <%= f.label :date, '作成日（必須）' %><br>
    <div class="datetime">
      <%= raw sprintf(
        f.date_select(
          :date,
          use_month_numbers: true,
          prompt:'---',
          start_year: Time.now.year,
          end_year: 1930,
          date_separator: '%s',
          class: ""),
        '<span class="text-baseline"> 年 </span>', '<span class="text-baseline"> 月 </span>') + '<span class="text-baseline"> 日 </span>'
      %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l4 xl3">
    <%= f.label :scope_id, '公開範囲（必須）' %>
    <%= f.collection_select(:scope_id, Scope.all, :id, :value, {}, {}) %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= f.text_field :title, class: "validate" %>
    <%= f.label :title, 'タイトル' %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= f.text_area :description, class: "materialize-textarea" %>
    <%= f.label :description, '作品説明' %>
  </div>
</div>

<div class="button_wrapper">
  <%= button_tag '', class: 'btn-large waves-effect waves-light', type: 'button', onclick: 'submit();' do %>
    作品編集<i class="material-icons right">send</i>
  <% end %>
</div>

<% end %>
</div>
</div>
