<%= render "shared/header" %>
<div class="container">
<h5 class="screen-name"><%= @user.name %>さんの情報</h5>
<div class="contents">

<%# 編集ボタンを追加 %>
<div class="right-align">
  <%= link_to '編集', edit_user_registration_path(current_user) %>
</div>

<div class="attribute">
  <label>メールアドレス</label><br>
  <%= @user.email %>
</div>

<div class="attribute">
  <label>名前</label><br>
  <%= @user.name %>
</div>

</div>
</div>
