<header>

<nav>
  <div class="nav-wrapper orange lighten-3">
    <%= link_to root_path, class: "brand-logoa" do %>
      <%= image_tag "logo_transparent.png", class: "logo" %>
    <% end %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to '作品投稿', new_user_work_path(user_id: current_user) %></li>
        <li><%= link_to '家族設定', user_creators_path(user_id: current_user) %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</nav>

</header>