<header>

<nav class="grey lighten-5">
  <div class="nav-wrapper">
    <%= link_to root_path, class: "brand-logoa" do %>
      <%= image_tag "logo.png", class: "logo" %>
    <% end %>
    <a href="#" data-target="mobile-demo" class="light-blue-text text-accent-4 right sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to "ログイン：#{current_user.name}", user_path(current_user), class: "light-blue-text text-accent-4" %></li>
        <li><%= link_to '作品投稿', new_user_work_path(user_id: current_user), class: "light-blue-text text-accent-4" %></li>
        <li><%= link_to '家族設定', user_creators_path(user_id: current_user), class: "light-blue-text text-accent-4" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "light-blue-text text-accent-4" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "light-blue-text text-accent-4" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "light-blue-text text-accent-4" %></li>
      <% end %>
    </ul>
  </div>
</nav>

<ul class="sidenav right" id="mobile-demo">
  <% if user_signed_in? %>
    <li><%= link_to "ログイン：#{current_user.name}", user_path(current_user), class: "light-blue-text text-accent-4" %></li>
    <li><%= link_to '作品投稿', new_user_work_path(user_id: current_user), class: "light-blue-text text-accent-4" %></li>
    <li><%= link_to '家族設定', user_creators_path(user_id: current_user), class: "light-blue-text text-accent-4" %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "light-blue-text text-accent-4" %></li>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path, class: "light-blue-text text-accent-4" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "light-blue-text text-accent-4" %></li>
  <% end %>
</ul>

</header>