<%= render "shared/header" %>
<div class="container">
<h5 class="screen-name">お子さまの情報編集</h5>
<div class="contents">

<%= form_with model: @creator, local: true do |f| %>

<div class="row">
  <div class="input-field col s12">
    <%= f.text_field :name, class: "validate" %>
    <%= f.label :name, 'お子さまの名前（必須）' %>
  </div>
</div>

<div class="row">
  <div class="col s12 m4 l2 xl2">
  <%= f.label :date_of_birth, '誕生日（必須）' %><br>
    <div class="datetime">
      <%= raw sprintf(
        f.date_select(
          :date_of_birth,
          use_month_numbers: true,
          prompt:'---',
          start_year: Time.now.year,
          end_year: 1930,
          date_separator: '%s',
          class: ""),
        '<span class="text-baseline"> 年 </span>', '<span class="text-baseline"> 月 </span>') + '<span class="text-baseline"> 日 </span>'
      %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l4 xl3">
    <%= f.label :creator_gender_id, '性別' %>
    <%= f.collection_select(:gender_id, Gender.all, :id, :value, {}, {}) %>
  </div>
</div>

<div class="button_wrapper">
  <%= button_tag '', class: 'btn-large waves-effect waves-light', type: 'button', onclick: 'submit();' do %>
    登録<i class="material-icons right">send</i>
  <% end %>
</div>

<% end %>
</div>
</div>
