<%= render "shared/header" %>

<h1>お子さまの情報</h1>

<%= link_to '編集', edit_creator_path(@creator) %>
<%= link_to '削除', creator_path(@creator), method: :delete %>

<div>
  <p>お子さまの名前</p>
  <%= @creator.name %>
</div>

<div>
  <p>誕生日</p>
  <%= @creator.date_of_birth.strftime("%Y年%-m月%-d日") %>
</div>

<div>
  <p>性別</p>
  <%= @creator.gender.value %>
</div>

<h2>閲覧できる家族</h2>
<table>
  <tr>
    <th>ユーザー名</th>
    <th>子どもとの関係</th>
    <th>操作</th>
  </tr>
  <% @creator_families.each do |family| %>
  <tr>
    <td><%= family.user.name %></td>
    <td><%= family.relation.value %></td>
    <% unless family.user_id == current_user.id %>
      <td><%= link_to 'つながり解除', creator_family_path(creator_id: family.creator_id, id: family.id), method: :delete %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= link_to '閲覧できる家族を追加', new_creator_family_path(@creator) %>
