<%= render "shared/header" %>
<div class="container">
<h5 class="screen-name">お子さま情報</h5>
<div class="contents">

<% if self.edit_permission_check(@family) %>
  <div class="right-align">
    <%= link_to '編集', edit_creator_path(@creator) %>
    <span>｜</span>
    <%= link_to '削除', creator_path(@creator), method: :delete %>
  </div>
<% end %>

<div class="attribute">
  <label>お子さまの名前</label><br>
  <%= @creator.name %>
</div>

<div class="attribute">
  <label>誕生日</label><br>
  <%= @creator.date_of_birth.strftime("%Y年%-m月%-d日") %>
</div>

<div class="attribute">
  <label>性別</label><br>
  <%= @creator.gender.value %>
</div>


<table id="family">
  <caption><h6>作品を閲覧できる家族</h6></caption>
  <tr>
    <th>ユーザー名</th>
    <th>お子さまとの関係</th>
    <th>操作</th>
  </tr>
  <% @creator_families.each do |family| %>
  <tr>
    <td><%= family.user.name %></td>
    <td><%= family.relation.value %></td>
    <td>
    <% if remove_family_permission_check(@family, family) %>
      <%= link_to 'つながり解除', creator_family_path(creator_id: family.creator_id, id: family.id), method: :delete %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% if add_family_permission_check(@family) %>
  <div class="right-align">
    <%= link_to '+閲覧できる家族を追加', new_creator_family_path(@creator) %>
  <div>
<% end %>

</div>
</div>